h1 Enter your stat

=simple_form_for :stat, url: athletes_path do |f|
  =f.input :stat_name, collection: ['Points', 'Rebounds', 'Assists', 'Steals', 'Blocks', 'Minutes Played']
  =f.input :value
  =f.submit
