h1 Enter your stat
.create-stat
  =simple_form_for :stat, url: athlete_stats_path do |f|
    =f.input :date_played, as: :date
    =f.input :points
    =f.input :rebounds
    =f.input :assists
    =f.input :blocks
    =f.input :turnovers
    =f.input :minutes_played
    =f.submit
