.card
  min-width: 350px
  min-height: 450px
  margin: 20px
  background-color: $light-grey
  display: flex
  flex-direction: column

.card_image
  background-color: $light-grey
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  flex-grow: 2
  .picture-content
    font-size: 12px
    line-height: 1.2
  .card_player
    margin-top: 20px
    text-align: center
  i
    font-size: 64px
  p
    margin: 0px

.card_stat, .card_player_profile
  padding: 10px

.card_stat
  max-height: 80px
  color: darken($blue, 10%)
  background-color: $grey

.card_player_profile
  max-height: 105px
  color: $light-grey
  background-color: darken($blue, 5%)


