.signup-form
  max-width: 500px
  // border: 1px solid $blue
  border-radius: 5px
  input:not([type=submit]):not([type=file])
    margin: 0px
    padding: 5px
    border: none
    height: 45px
    border: 1px solid $dark-grey
    border-bottom: none
    &:last-child
      border-bottom: 1px solid $dark-grey
  .name
    display: flex
    flex-direction: row
  .first-name, .last-name
    width: 100%
  .last-name
    border-radius: 0px 5px 0px 0px
    border-left: none !important
  .first-name
    border-radius: 5px 0px 0px 0px
  .confirm
    display: flex
    flex-direction: column
    input
      width: 100%
  .submit
    input
      border-radius: 0px 0px 5px 5px
      width: 100%
      background-color: $black
      color: $white
      height: 60px
      &:hover
        background-color: lighten($black, 5%)
        color: $white
  .image
    display: flex
    align-items: center

.signin-form
  display: flex
  justify-content: center
  margin-top: 100px

.fieldset
  border: 1px solid $dark-grey
  margin: 4px
  padding: 25px
  display: flex
  flex-direction: column
  input
    margin: 10px
    padding: 5px
    &:last-child
      margin: 0px auto
