.header-alt
  height: 60px
  display: flex
  flex-direction: row
  justify-content: space-between
  background-color: $blue

.header-logo, .header-signin
  padding: 10px
  color: $white

.header-signin
  p
    display: inline-block
    padding-right: 10px
  a
    color: $alt-blue-3
