.left-nav
  position: fixed
  top: 45px
  left: 0px
  background-color: $red
  opacity: .9
  width: 75px
  height: 100%
  cursor: pointer
  .fa
    color: $white
    font-size: 30px
    margin: 18px
  .stat-table
    display: none

.left-nav-item
  display: flex
  align-items: center
  justify-content: center

.left-nav-feed
  position: relative
  .stat-table
    display: block

