.welcome-page
  @include linear-gradient(top, $blue,$alt-blue-3, $white)
  min-height: 100%
  min-width: 100%
  position: fixed
  left: 0
  top: 0

.welcome-signin
  padding: 20px

.content
  margin-top: 50px
  display: flex
  flex-direction: column
  align-items: center
  .content-header
    font-size: 50px
    color: $white
    margin: 0px
    padding: 0px
  .content-sub-header
    color: darken($alt-blue, 20%)
    max-width: 600px
    text-align: center
