.welcome-page
  min-height: 100%
  min-width: 100%
  position: fixed
  left: 0
  top: 0

.welcome-signin
  padding: 20px

.content
  margin-top: 100px
  display: flex
  flex-direction: column
  align-items: center
  .content-header
    font-size: 50px
    color: darken($blue, 10%)
    margin: 0px
    padding: 0px
    margin-bottom: 50px
  .content-sub-header
    margin-top: 50px
    color: darken($alt-blue, 10%)
    max-width: 600px
    text-align: center
