html, body

//Lists

ul
  list-style-type: none
  margin: 0px
  padding: 0px

li
  padding: 5px

//Hyperlinks
a
  color: $white
  text-decoration: none
  &:hover
    color: darken($white, 10%)

//Error Handling

#error_explanation
  height: 25px
  margin-bottom: 5px
  color: $button-danger

.error
  color: $button-danger

.title
  text-decoration: underline
  color: $black
