.page
  @include span-columns(12)
  position: relative
  top: 70px

.container
  @include span-columns(12)
  padding: 20px
  display: flex
  flex-direction: row
  justify-content: center

.container-half
  @include span-columns(6)
  display: flex

.container-quarter
  @include span-columns(4)

.section
  margin: 0px 10px

.form-container
  @extend .container
  justify-content: flex-start
